modules/*.pyc
modules/*.py
modules/*.conf
modules/*.log
!modules/Example_module.py
!modules/README

logs/*.log
!logs/README

conf/*.log 
conf/*.conf
conf/*.py
!conf/Main.conf
!conf/README

!controllers/Example_module_controller.py
controllers/*.py
controllers/*.pyc
!controllers/README

socket/*

seeds/*
!seeds/README

src/*
!src/oneline/
!src/setup.py
