modules/*.pyc
modules/*.py
modules/*.conf
modules/*.log
!modules/Example_module.py
!modules/README

logs/*.log
!logs/README

conf/*.log 
conf/*.py
!conf/README

controllers/*.py
controllers/*.pyc
!controllers/README

socket/*

seeds/*
!seeds/README
